* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.homeDiv {
  background-color: red;
}

.contactDiv {
  background-color: blue;
}

.servicesDiv {
  background-color: yellow;
}

.serviceDiv {
  padding: 30px;
  margin: 0 auto;
  width: 80vw;
}